{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{% static 'assets/img/litreview-icon.png' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- BALISE STYLE -->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        {% block link %}{% endblock %}
        <!-- FONTAWESOME -->
        <link
                rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        />
        <!-- TITLE -->
        {% block title %}{% endblock %}
    </head>
    <!-- BODY -->
    <body>
        <!-- Header -->
        <header>
            <div class="nav-container">
                <nav>
                    <div class="nav-title">
                        <h1>LITReview</h1>
                    </div>
                    <div class="navigation">
                        {% block navigation %}{% endblock %}
                    </div>
                </nav>
            </div>
        </header>
        <!-- Main -->
        <main>
            <!-- Section -->
            <section>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer>
			<nav class="footer">
				<div class="footer-container">
					<h2>
						LITReview
						<br />
					</h2>
					<h3>Rejoignez nous sur :</h3>
					<div class="social">
						<div class="social__mg">
							<a
								class="social dimI"
								href="https://www.facebook.com/benjamin.lvq.1"
								target="_blank"
								rel="noopener noreferrer"
							>
								<i class="fab fa-facebook-f" aria-hidden="true">Facebook</i>
							</a>
						</div>
						<div class="social__mg">
							<a
								class="social dimI"
								href="https://twitter.com/LvqueBenjamin2"
								target="_blank"
								rel="noopener noreferrer"
							>
								<i class="fab fa-twitter" aria-hidden="true">Twitter</i>
							</a>
						</div>
					</div>
					<div class="copyright">
						<p>
							<i class="far fa-copyright"></i> 2021 developped by Benjamin
							Lévêque
						</p>
					</div>
					<a href="" class="mentions-legales">
						<h3>Mentions légales</h3>
					</a>
				</div>
			</nav>
		</footer>
    </body>
</html>