@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* ********** Base ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    line-height: 1.4rem;
    position: relative;
    background-color: #193549;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

main {
    margin: 180px auto auto auto;
    max-width: 1440px;
    overflow: hidden;
    min-height: 70vh;
}

section {
    margin: auto;
    max-width: 768px;
    min-height: 50vh;
}

h1 {
    color: #CCB304;
    font-size: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ********** header ********** */
.nav-container {
    background-color: #193549;
    border-bottom: solid 1px #85F8E2;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    font-size: 1.2rem;
}

.navigation ul {
    display: flex;
}

.navigation ul li a {
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.navigation ul li :hover {
    background-color: #ff7b77;
}

/* ********** footer ********** */
footer {
    border-top: solid 1px #85F8E2;
}

.footer {
    width: 100%;
    height: 200px;
    color: white;
}

.footer-container {
    max-width: 1440px;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container h2 {
    color: #CCB304;
    font-size: 2rem;
    margin-bottom: 20px;
}

.social {
    display: flex;
}

.social__mg {
    font-size: 1.4rem;
    margin: 10px 10px 20px 10px;
}

.social__mg a {
    text-decoration: none;
    color: white;
}

.social__mg a :hover {
    color: #ff7b77;
}

.copyright p {
    margin-bottom: 10px;
}

.mentions-legales {
    color: white;
}

.mentions-legales :hover {
    color: #ff7b77;
}

/* ********** accounts templates ********** */
.accounts-container {
    background-color: #162E41;
    display: flex;
    justify-content: space-around;
    height: 300px;
    border: solid 1px darkgrey;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.signup-container {
    background-color: #162E41;
    min-height: 250px;
    border: solid 1px darkgrey;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.signup-container form input[type=submit] {
    border-radius: 5px;
    background-color: #ff7b77;
    padding: 10px;
    bottom: 10px;
    cursor: pointer;
    color: #162E41;
    font-weight: bold;
}

.signup-container form input[type=submit]:hover,
.accounts-login form input[type=submit]:hover,
.accounts-signup a:hover{
    background-color: #85F8E2;
}

.signup-container .helptext {
    display: none;
}

.signup-container .errorlist {
    display: block;
    color: red;
}

.signup-container form p,
.accounts-login form p {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.signup-container form input[type=text], input[type=password] {
    border-radius: 5px;
    background-color: #ffd0c4;
    padding: 5px;
}

.signup-success {
    color: lime;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.accounts-signup, .accounts-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.accounts-signup a {
    border-radius: 5px;
    background-color: #ff7b77;
    padding: 10px;
    color: #162E41;
    font-weight: bold;
}

.accounts-login form p {
    margin: 20px 0 20px 0;
}

.accounts-login form input[type=text], input[type=password] {
    border-radius: 5px;
    background-color: #ffd0c4;
    padding: 5px;
}

.accounts-login form input[type=submit] {
    border-radius: 5px;
    background-color: #ff7b77;
    padding: 10px;
    cursor: pointer;
    color: #162E41;
    font-weight: bold;
}

.accounts-login .errorlist {
    display: block;
    color: red;
    position: absolute;
    bottom: -120px;
}

/* ********** reviews templates ********** */
.btn-flux-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.btn-flux-container a {
    border: solid 1px #8599A5;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    background-color: #85F8E2;
    font-weight: bold;
    color: #162E41;
}

.btn-flux-container :hover {
    background-color: #ff7b77;
}

.ticket-container,
.review-container,
.follow-container,
.follower-container,
.followed-container {
    border: solid 1px #8599A5;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0 20px 0;
}

.fa-star {
    color: #ff7b77;
}

.ticket {
    position: relative;
}

.ticket img {
    margin: 10px;
    object-fit: cover;
    height: 200px;
    width: 140px;
}

.ticket-response {
    display: flex;
    justify-content: flex-end;
    color: #CCB304;
    font-weight: bold;
}

.ticket_btn-container-create,
.ticket_btn-container-update,
.ticket_btn-container-delete {
    background-color: #CCB304;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
}

.ticket_btn-container {
    display: flex;
    justify-content: flex-end;
}

.ticket_btn-container a {
    font-weight: bold;
    color: #162E41;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket_btn-container-create:hover,
.ticket_btn-container-update:hover,
.ticket_btn-container-delete:hover {
    background-color: #ff7b77;
}

.review-header, .ticket-header {
    display: flex;
    justify-content: space-between;
}

.review h3 {
    margin: 20px 0 20px 0;
}

.review-ticket {
    background-color: #162E41;
    border: solid 1px #8599A5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.review-ticket img {
    margin: 10px;
    object-fit: cover;
    height: 200px;
    width: 140px;
}

.create-ticket-container,
.create-review-container {
    background-color: #162E41;
    min-height: 300px;
    border: solid 1px darkgrey;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.create-ticket-container form input[type=text],
.create-review-container form input[type=text],
.follow-container form input[type=text],
#id_body, #id_description {
    border-radius: 5px;
    background-color: #ffd0c4;
    padding: 5px;
}

#id_rating {
    display: flex;
}

.review-form,
.ticket-form,
.follow-form {
    border: solid 1px darkgrey;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #193549;
}

.review-form p,
.ticket-form p,
.follow-form p {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.envoyer-btn {
    background-color: #CCB304;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.envoyer-btn:hover {
    background-color: #ff7b77;
}

.review-response-container,
.review-update-container {
    padding: 20px;
    border: solid 1px #8599A5;
    border-radius: 5px;
}

.follower-content,
.followed-user {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: solid 1px #8599A5;
    border-radius: 5px;
    background-color: #162E41;
}

.follower-btn a {
    color: #85F8E2;
}

.follower-btn a:hover {
    color: #ff7b77;
}

.follow-container .errorlist {
    color: red;
}

.delete-container form p {
    font-size: 1.4rem;
}

.delete-container form input[type=submit] {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    height: 40px;
    width: 140px;
    background-color: #85F8E2;
}

.delete-container form input[type=submit]:hover {
    background-color: #ff7b77;
}
