{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>LITReview | Accueil</title>
{% endblock %}

{% block navigation %}
{% include "reviews/nav.html" %}
{% endblock %}

{% block content %}
<div class="review-response-container">
    <h3>Vous êtes en train de poster une réponse à</h3>
    <div class="ticket-container">
        <div class="ticket">
            <p><span class="ticket-user">{{ ticket.user }} a demandé une critique</span>
                <span class="ticket-time">{{ ticket.time_created }}</span>
            </p>
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}" width="100px" height="100px" alt="img"/>
            {% endif %}
        </div>
    </div>
    <div class="create-review-container">
        <h2>Critique</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="review-form">
                {{ form.as_p }}
            </div>
            <div class="ticket_btn-container">
                <input class="envoyer-btn" type="submit" value="Envoyer">
            </div>
        </form>
    </div>
</div>
{% endblock %}
