{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>LITReview | Accueil</title>
{% endblock %}

{% block navigation %}
<ul>
    <li><a href="{% url 'flux:home' %}" >Flux</a></li>
    <li><a href="{% url 'flux:posts' %}">Posts</a></li>
    <li>Abonnements</li>
    <li><a href="{% url 'accounts:logout' %}">Se déconnecter</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="btn-flux-container">
    <a class="btn-ticket center" href="{% url 'flux:create-ticket' %}">Demander une critique</a>
    <a class="btn-review center" href="">Créer une critique</a>
</div>
{% if flux_list %}
{% for post in flux_list %}
    {% if post.title %}
        <div class="ticket-container">
            <div class="ticket">
                <p><span class="ticket-user">{{ post.user }} a demandé une critique</span>
                    <span class="ticket-time">{{ post.time_created }}</span>
                </p>
                <p>{{ post.title }}</p>
                <p>{{ post.description }}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" width="100px" height="100px" alt="img"/>
                {% endif %}
                <div class="ticket_btn-container">
                    {% if post.id in ticket_btn_hide or post.user == request.user %}
                    {% else %}
                        <a class="" href="">Donner son avis</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% elif post.rating %}
        <div class="review-container">
            <div class="review">
                <p><span class="review-user">{{ post.user }} a posté une critique</span>
                    <span class="review-time">{{ post.time_created }}</span>
                </p>
                <p>{{ post.headline }}
                <p>Rating: {{ post.rating }} <span class="fas fa-star"></span></p>
                <p>{{post.body}}</p>
                <div class="review-ticket">
                    <p><span class="review-ticket-user">{{post.ticket.user}}</span>
                        <span class="review-ticket-time">{{post.ticket.time_created}}</span>
                    </p>
                    <p>{{post.ticket.title}}</p>
                    <p>{{post.ticket.description}}</p>
                    {% if post.ticket.image %}
                    <img src="{{ post.ticket.image.url }}" width="100px" height="100px" alt="img"/>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% else %}
    <h2>Le flux est vide</h2>
{% endif %}


{% endblock %}
