{% extends 'base.html' %}

{% block title %}
  <title>LITReview | Créer un ticket</title>
{% endblock %}

{% block navigation %}
    {% include "reviews/nav.html" %}
{% endblock %}

{% block content %}
    <div class="create-ticket-container">
      <h2>Créer un ticket</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="ticket-form">
              {{ form.as_p }}
          </div>
          <div class="ticket_btn-container">
            <input class="envoyer-btn" type="submit" value="Envoyer">
          </div>
      </form>
    </div>
{% endblock %}
